{
    "api": "https://my.comodit.com/api",
    "username": "<username>",
    "password": <password>",
    "organization": "<organization>",
    "gpxe_url": "https://my.comodit.com/gpxe",
    "time_out": "3600",
    "vm" : {
        "name": "combox-host",
        "memory": "512",
        "mac": "",
        "iso": "",
        "storage": "<path_to_vm_disk>",
        "ports_fw" : [["127.0.0.1", "2222", "22"]],
        "shares" : [{"name":"share", "target":"<path_to_share_target>"}]
    },
    "applications":  [{
            "name": "example/virtualbox-guest-additions",
            "settings": {"shares":[{"name":"share", "mount":"/mnt"}]}
        }
    ],
    "platform": {
        "name" : "Physical"
    },
    "distribution": {
        "name" : "CentOS 6 (Kickstart)",
        "settings" : {
            "root_password": "secret"
        }
    }
}
