{
    "endpoint": "https://my.comodit.com/api",
    "username": "<username>",
    "password": <password>",
    "organization": "<organization>",
    "gpxe_url": "https://ec2-54-247-107-93.eu-west-1.compute.amazonaws.com",
    "time_out": "3600",
    "vm" : {
        "name": "combox-host",
        "memory": "512",
        "mac": "525400010101",
        "iso": "<path_to_iso>",
        "storage": "<path_to_vm_disk>",
        "ports_fw" : [["127.0.0.1", "2222", "22"]],
        "ports_fw" : [[<listen_host>, <local_port>, <remote_port>]],
        "shares" : [{"name":"share", "target":"<path_to_share_target>"}]
    },
    "applications":  [
        {
            "name": "virtualbox-guest-additions",
            "settings": {"shares":[{"name":"share", "mount":"/mnt"}]}
        },
        {
            "name": "RPM Build Environment"
        },
        {
            "name": "RPM Build Environment - Python"
        }
    ],
    "platform": {
        "name" : "Physical",
        "settings" : {
            "mac_address": "52:54:00:01:01:01"
        }
    },
    "distribution": {
        "name" : "CentOS 6 (Kickstart)",
        "settings" : {
            "root_password": "secret"
        }
    }
}
