{
    "endpoint": "https://my.comodit.com/api",
    "username": "<username>",
    "password": <password>",
    "organization": "<organization>",
    "time_out": "3600",
    "vm" : {
        "name": "combox-host",
        "memory": "512",
        "mac": "525400010101",
        "iso": "<path_to_iso>",
        "storage": "<path_to_vm_disk>",
        "shares" : [{"name":"share", "target":"<path_to_share_target>"}]
    },
    "applications":  [
        {
            "name": "virtualbox-guest-additions", 
            "settings": {"shares":[{"name":"share", "mount":"/mnt"}]}
        }
    ],
    "platform": {
        "name" : "Physical",
        "settings" : {
            "mac_address": "52:54:00:01:01:01"
        }
    },
    "distribution": {
        "name" : "CentOS 6 (Kickstart)",
        "settings" : {
            "root_password": "secret"
        }
    }
}
